!.gitignore
!User/
!FileIcons/
!Termiplus/
*.sublime-license
*.sublime_license

User/Package Control.last-run
User/Package Control.ca-list
User/Package Control.ca-bundle
User/Package Control.user-ca-bundle
User/Package Control.system-ca-bundle
User/Package Control.cache/
User/Package Control.ca-certs/
!User/Package Control.sublime-settings
